body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Monterrat-Black";
  font-weight: 900;
  font-size: 2.5rem;
}

/*Navigation Bar*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/*Download Button*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*Title Image*/

.title-image {
  width: 60%;
  align-self: center;
  transform: rotate(25deg);
}


#features {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 7%;
}

.p-features {
    color: #DCDCDC;
   
}

.icon-features {
    font-size: 40px;
    margin-bottom: 10px;
}

.icon-features:hover {
    color: #ff4c68;
}


































